---
---

@import "/assets/main.css";

.logo {
  display: block;
  background-color: #fafafa;
  border: solid 2px;
  max-height: 20em;
  margin: 0 auto 1em auto;
}

h3 {
  padding-top: 1em;
}

.highlight-box {
  border: lightblue 0.2em outset; 
  padding: 0.5em 1em 0 1em;
}

.centered-image {
  display: flex;
  justify-content: center;
}

.exercise {
  h1 {
    padding: 0;
  }

  border: 0.15rem solid gray;
  background-color: whitesmoke;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.5em;
}

pre {
  padding: 0;
  code {
    padding: 8px 12px !important;
  }
}