---
layout: default
---

<div class="home">

  <img class="logo" src="/images/logo.svg" alt="Logo"></img>

  <p>
    This course is an introductory course to Kubernetes with K3s and GKE. In this course, you will develop software with
    a microservice architecture that utilizes Kubernetes to serve software that scales and deploys automatically. And
    learn how to manage it all.
  </p>

  <p>
    <b>This course can not be completed with the faculty computers.</b> Attendees need to provide their own computers
    with admin / superuser priviledges.
  </p>

  <p>
    Course details and starting instructions can be found in <a href="/part0">part 0</a>.
  </p>

  <p>
    Registration is only required for ECTS credits. The certificate does not require registration or separate sign up. For ECTS credits (Finnish / Open University students) the registration is after you've completed part 2 and there will be a link at the end of the part.
  </p>

  <p>
    You should also read the <a href="https://courses.helsinki.fi/en/aytkt21027en/135660523">courses.helsinki.fi page</a>. This page also includes information about target group, enrolment instructions, recommended reading and most importantly <b>deadlines</b>.
  </p>

  <div class="highlight-box">
    <p>
      <b>DEFA-students.</b> After discussion within the faculty, we recommend you do not rely on this course as your only option to fulfil the credit requirement!
      
      This course may be challenging as it expects that you
    </p>
    <ul>
      <li>
        are familiar with containers (probably from <a href="https://courses.helsinki.fi/fi/aytkt21025en">DevOps with Docker</a>).
      </li>
      <li>
        are able to independently develop web software (probably from <a href="https://courses.helsinki.fi/en/aytkt21009">Full Stack Web Development</a>).
      </li>
      <li>
        have knowledge of SQL databases (probably from <a href="https://courses.helsinki.fi/en/aytkt10004">Introduction to Databases</a>).
      </li>
      <li>
        know basics of networking (probably from <a href="https://courses.helsinki.fi/en/aytkt200041">Introduction to Data Communication</a>).
      </li>
    </ul>
    <p>
      If you are joining and are not confident, contact me at jami.kousa@helsinki.fi.
    </p>
  </div>

  <h1 class="page-heading">Credits and licence</h1>

  <p>
    Course material has been done by <a href='https://github.com/jakousa'>Jami Kousa</a> with the help of University of
    Helsinki's Tietojenkäsittelytieteen osaston sovelluskehitysakatemia (Toska) and <a
      href="https://github.com/kubernetes-hy/kubernetes-hy.github.io/graphs/contributors">numerous course attendees</a>.
    You can help <a href='https://kubernetes-hy.github.io/part0/#mistakes'>develop</a> the course material as well.
  </p>
  <p>
    This material is licenced under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative
      Commons BY-NC-SA 3.0 -licence</a>,
    so you can freely use and distribute the material, as long as original creators are credited. If you make changes to
    material and you want to distribute altered version it must be licenced under the same licence.
    Usage of material for commercial use is prohibited without permission.
  </p>
</div>